:root {
    --dark-blue: #031927;
    --light-blue: #c8e0f4;
    --diamond-white: #eaebed;
}

body {
  /* font */
  font-family: "Helvetica", "Arial", sans-serif;

  /* layout */
  max-width: 52em;
  line-height: 1.5;
  padding: 2rem 1rem;
  margin: auto;

  /* colour */
  color: var(--diamond-white);
  background-color: var(--dark-blue);
}

.title {
    margin-top: 7rem;
    text-align: center;
    font-size: 8rem;
    color: var(--light-blue);
}
