:root {
    --dark-blue: #031927;
    --light-blue: #c8e0f4;
    --diamond-white: #eaebed;
    --link: #75DBCD;
}

@font-face {
    font-family: AlegreyaSansRegular;
    src: url(/styles/AlegreyaSans-Regular.woff);
}

body {
  /* font */
  font-family: AlegreyaSansRegular, "Helvetica", "Arial", sans-serif;

  /* layout */
  width: auto;
  max-width: 52em;
  line-height: 1.5;
  padding: 2rem 1rem;
  margin: auto;

  /* colour */
  color: var(--diamond-white);
  background-color: var(--dark-blue);
}

a {
    color: var(--link);
}

nav {
    width: 100%;
    text-align: left;
}

.hl {
    color: var(--light-blue);
    text-decoration: underline;
}

#app {
    width: 100%;
    margin: 0 auto;
    padding-left: auto;
    padding-right: auto;
    text-align: center;
}

.title {
    margin-top: 7rem;
    text-align: center;
    font-size: 8rem;
    color: var(--light-blue);
}

.form {
    width: 40%;
    margin: 0 auto;
}

label {
    font-size: 1.5rem;
}

#key {
    width: 100%;
}