:root {
    --dark-blue: #031927;
    --light-blue: #c8e0f4;
    --diamond-white: #eaebed;
    --link: #75DBCD;
}

@font-face {
    font-family: AlegreyaSansRegular;
    src: url(/styles/AlegreyaSans-Regular.woff);
}

html {
    min-height: 80vh;
}

body {
  /* font */
  font-family: AlegreyaSansRegular, "Helvetica", "Arial", sans-serif;

  /* layout */
  width: auto;
  max-width: 52em;
  line-height: 1.5;
  padding: 2rem 1rem;
  margin: auto;

  /* colour */
  color: var(--diamond-white);
  background-color: var(--dark-blue);
}

#app {
    width: 100%;
    height: 70vh;
    margin: 0 auto;
    padding-left: auto;
    padding-right: auto;
    text-align: center;
}

a {
    color: var(--link);
}

nav {
    width: 100%;
    text-align: left;
}

#new-room {
    margin-top: 1rem;
    margin-right: 1rem;
}

#content {
    height: 70vh;
}

#chat {
    width: 100%;
    height: 70vh;
}

#history-div {
    text-align: left;
    overflow-y: scroll;
    background-color: #272822;
    margin-bottom: 1rem;
    overflow-wrap: break-word;
}

#buffer {
    padding: 1rem;
}

#history-list {
    list-style-type: none;
}

#input {
    width: 100%;
}

#message {
    width: 80%;
}

#send {
    float: right;
    width: 10%;
    margin-right: 1rem;
}

.hl {
    color: var(--light-blue);
    text-decoration: underline;
}

.name {
    color: var(--light-blue);
    font-variant: small-caps;
    font-weight: bold;
    letter-spacing: 1px;
}

.title {
    margin-top: 7rem;
    text-align: center;
    font-size: 8rem;
    color: var(--light-blue);
}

.form {
    width: 60%;
    margin: 0 auto;
}

label {
    font-size: 1.5rem;
}

#key {
    width: 100%;
    margin-bottom: 0.5rem;
}

